// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #424242
$secondary = #ef5350
$tertiary  = #26c6da

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

//$body-background = #1b1b1b
// $body-color = #484848

// $action-sheet-background =

@import '~quasar-variables'
